{% stylesheets '@UserUserBundle/Resources/public/css/home.css'%}
  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
<header>
<div id = 'search'>
<form id = 'rechercher' method = 'POST'>
	<input type = 'text' value = 'search' name = 'search_entry'/>	
	<input type = 'submit' value = 'search' name = 'search'/>
</form>
</div>
</header>
<div id = 'username'>
<a href = '/ProjetESIEE/web/app_dev.php/profile/{{app.session.get('id')}}' id = 'name'>{{app.session.get('firstname')}} {{app.session.get('lastname')}}</a>
</div>

<div id = 'nav'>
<a href = '/ProjetESIEE/web/app_dev.php/notifications' class = 'navig'>Notifications</a></br>
<a href = '/ProjetESIEE/web/app_dev.php/logout' class = 'navig'>Log out</a>
</div>

<div id = 'new_article'>
<p>What would you like to share?</p>
<form id = 'ecrire' method = 'POST' enctype="multipart/form-data">
	<input type = 'text' value = 'title' name = 'title' class = 'title'/></br>
	<label for="image">Picture:</label>
	<input type = 'file' value = 'image' name = 'image' class = 'image_field'/></br>
	<input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
	<input type = 'text' value = 'article' name = 'article' class = 'article'/></br>
	<input type="submit" name="load" value="Load">
</form>
</div>

{%if listeUsers is defined%}
	{%for user in listeUsers%}
		<a href = '/ProjetESIEE/web/app_dev.php/profile/{{user.id}}'>{{user.firstname}}</a></br>
	{%endfor%}
{%endif%}

{%if listeArticles is defined%}
	{%for article in listeArticles%}
		<h5>{{article.title}}</h5>
		{%if article.img_src is sameas('NULL')%}
			{{article.text}}</li>
		{%else%}
			<img src="{{ asset(article.img_src) }}" width = '50%' height = '50%'/><br>
			{{article.text}}</li>
		{%endif%}
	{%endfor%}
{%endif%}


<footer></footer>