{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/profile.css') }}" type="text/css" />
{% endblock %}
<header>
<div id = 'search'>
<form id = 'rechercher' method = 'POST'>
	<input type = 'text' value = 'search' name = 'search_entry'/>	
	<input type = 'submit' value = 'search' name = 'search'/>
</form>
</div>
</header>
<div id = 'nav'>
<a href = '/ProjetESIEE/web/app_dev.php/home' class = 'navig'>Homepage</a>
<a href = '/ProjetESIEE/web/app_dev.php/logout' class = 'navig'>Log out</a>
</div>
<div id = 'name'>
<a href = '/ProjetESIEE/web/app_dev.php/profile/{{user.id}}' class = 'username'>{{user.firstname}} {{user.lastname}}</a></br>
</div>

{%if user.id != app.session.get('id')%}
	<input type = 'submit' value = 'Add to network' name = 'network'/>
{%endif%}

{%if message is defined%}
	{{message}}
{%endif%}

{%if user_articles is defined%}
	{%for article in user_articles%}
		<table class="article">
			<tr><td class="titre">{{article.title}}</td></tr>
			<tr><td class="date">{{article.timestamp|date("m/d/Y")}}</td></tr>
		{%if article.img_src is sameas('NULL')%}
			<tr><td class="texte">{{article.text}}</td></tr>
		{%else%}
			<tr><td class="image"><img src="{{ asset(article.img_src) }}"/></td></tr>
			<tr><td class="texte">{{article.text}}</td></tr>
		{%endif%}
	{%endfor%}
{%else%}
	<p>no articles</p>
{%endif%}
